@font-face {
  font-family: "Silka";
  src: url("silka-light-webfont.eot"); /* IE9 Compat Modes */
  src: url("silka-light-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("silka-light-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("silka-light-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("silka-light-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
}
@font-face {
  font-family: "Silka";
  src: url("silka-regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("silka-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("silka-regular-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("silka-regular-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("silka-regular-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: "Silka";
  src: url("silka-regularitalic-webfont.eot"); /* IE9 Compat Modes */
  src: url("silka-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("silka-regularitalic-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("silka-regularitalic-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("silka-regularitalic-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Silka";
  src: url("silka-semibold-webfont.eot"); /* IE9 Compat Modes */
  src: url("silka-semibold-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("silka-semibold-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("silka-semibold-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("silka-semibold-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
}
@font-face {
  font-family: "Silka";
  src: url("silka-bold-webfont.eot"); /* IE9 Compat Modes */
  src: url("silka-bold-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("silka-bold-webfont.woff2") format("woff2"), /* Super Modern Browsers */
       url("silka-bold-webfont.woff") format("woff"), /* Pretty Modern Browsers */
       url("silka-bold-webfont.ttf")  format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
}