footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  background-color: #000;
}

  .content-footer {
    width: 100%;
    max-width: 1172px;
    box-sizing: border-box; 
    padding: 0 30px;
  }

  .content-footer + .content-footer {
    border-top: 1px solid #59554f;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 36px;
    padding: 40px 0 20px 0;
  }
    @media screen and (max-width: 600px) {
      .contact-list {
        grid-template-areas: "logo rrss" "adress adress";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
      }
        .logo-contact {
          grid-area: logo;
        }
        .adress-contact {
          grid-area: adress;
          padding-top: 20px;
        }
    }
    .contact-adresses {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 36px;
    }
      @media screen and (max-width: 900px) {
        .contact-adresses {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 600px) {
        .contact-adresses {
          grid-template-columns: 1fr;
        }
      }
      .location-name {
        padding-bottom: 10px;
        font-size: var(--font-size20);
        font-weight: var(--font-bold);
        color: #dead5d;
      }
      .location-adress {
        font-size: var(--font-size14);
        font-weight: var(--font-light);
        color: #acaaa7;
        line-height: 1.2;
      }

      @media screen and (max-width: 600px) {
        .rrss-content {
          grid-area: "rrss";
        }
      }

    .rrss-list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: flex-start;
    }
      .rrss-list li {
        width: 33px;
        height: 33px;
        margin-left: 6px;
      } 
        .rrss-links {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #acaaa7;
        }
        .rrss-links svg {
          width: 33px;
          height: 33px;
        }

        .rrss-links svg .svg-circle {
          fill: #acaaa7;
        }

        .rrss-links svg path {
          fill: #302a23;
        }


  .copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 20px 100px 25px 0;

    /* background: url(../img/svg/logo-intermark.svg) right center no-repeat;
    background-size: 96px auto; */

    font-size: var(--font-size12);
    color: #acaaa7;
  }
    @media screen and (max-width: 600px) {
      .copyright {
        flex-direction: column;
        padding-right: 0;
      }
    }
    footer .modal-text-button {
      color: #acaaa7;
      font-size: var(--font-size12);
      line-height: 1.2;
    }
      footer .modal-text-button:hover {
        color: #d39126;
      }
      footer .modal-text-button:before {
        display: none;
      }

    .copyright li + li {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #acaaa7;
    }
      @media screen and (max-width: 600px) {
        .copyright li {
          padding: 10px;
          margin: 0;
          border-left: none !important;
        }
      }
