body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  background: #fff;

  font: 400 16px "Silka";
  color: #fff;
}
  .unexpendables-logo {
    width: 55px;
    height: auto;
    opacity: .5;
  }

  .post-header {
    padding-top: 270px;
  }

  .content-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1280px;
    padding: 0 85px;
    box-sizing: border-box; 
  }

  .stripe-background {
    position: relative;
    z-index: 0;
  }
  .stripe-background > * {
    z-index: 1;
  }
  .stripe-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 384px);
    width: 768px;
    height: 100%;
    border-left: 1px solid rgba(241,241,241,.05);
    background: linear-gradient(90deg, transparent calc(100% - 1px), rgba(241,241,241,.05) 0, rgba(241,241,241,.05) 100%, transparent 0);
    background-size: 25% 1px;
  }

  .gray-background {
    background-color: #59554f;
  }
  .gray-dark-background {
    background-color: #302a23;
  }

  .half-content {
    width: 50%;
    box-sizing: border-box;
  }

  .article-header {
    max-width: 600px;
    padding-left: 30px;
    font-size: 64px;
    line-height: 64px;
    color: #efefef;
  }

  #contact-section .content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 110px 0 65px;
  }
  .contact-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 190px;
    background: url(../img/svg/icon-castle.svg) top center no-repeat;
    background-size: auto 150px; 
  }
    .contact-text {
      padding-bottom: 10px;
      font-size: 40px;
      font-weight: 600;
      color: #302a23;
    }
    .contact-links {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      line-height: 29px;
    }
      .contact-links a {
        font-size: 24px;
        font-weight: 300;
        color: #302a23;
        text-decoration: none;
      }

      .gray-dark-background .contact-text{
        color: #efefef;
      }
        .gray-dark-background .contact-links a {
          color: #acaaa7;
        }


  /* Animations */

  .animated-start .fade-in-up-animation,
  .animated-zone.fade-in-up-animation ,
  .animated-zone >.fade-in-up-animation {
    transform: translateY(10px);
    opacity: 0;
  }
  .fade-in-up-animation {
    opacity: 1;
    transition: transform .3s, opacity.3s;
  }

  .animated-start .zoom-in-animation,
  .animated-zone.zoom-in-animation ,
  .animated-zone >.zoom-in-animation {
    transform: scale(0);
  }
  .zoom-in-animation {
    transform: scale(1);
    transition: transform .3s;
  }

  .contact-links a:nth-child(2) {
    transition-delay: .1s;
  }