header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 150px;
  margin-bottom: -160px;
  padding: 0;
  box-sizing: border-box;
  z-index: 2 !important;
  transition: background .3s, height .3s;
}

  .scroll-header {
    height: 64px;
    background: #302a23;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
  }
    .scroll-header::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 384px);
      width: 768px;
      height: 100%;
      border-left: 1px solid rgba(241,241,241,.05);
      background: linear-gradient(90deg, transparent calc(100% - 1px), rgba(241,241,241,.05) 0, rgba(241,241,241,.05) 100%, transparent 0);
      background-size: 25% 1px;
    }

  .header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box; 
  }
    .header-logo {
      position: absolute;
      top: 30px;
      left: 85px;
      width: 60px;
      height: 126px;
      overflow: hidden;
      transition: top .3s, width .3s, height .3s;
    }
      .scroll-header .header-logo {
        top: 14px;
        width: 37px;
        height: 36px;
      }

    .header-nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 0;
      transition: padding .3s;
    }
      .scroll-header .header-nav { 
        padding: 25px 0;
      }
      .nav-link {
        padding: 0 32px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px;
      }
        .nav-contact-link {
          font-weight: 400;
        }
      .nav-link + .nav-link {
        border-left: 1px solid #d39126;
      }
      .nav-link:hover {
        color: #d39126;
      }


  .nav-link {
    transition: transform .3s, opacity .3s, color .3s;
  }
  .animated-start .nav-link {
    transform: translateX(10px);
    opacity: 0;
  }
    .nav-link:nth-child(2) {
      transition-delay: .1s;
    }
    .nav-link:nth-child(3) {
      transition-delay: .2s;
    }
    .nav-link:nth-child(4) {
      transition-delay: .3s;
    }